<a href="https://colab.research.google.com/github/ntjrrvarma/ntjrrvarma/blob/main/parse_script.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [2]:
import os
os.chdir('/content/drive/My Drive/')

In [3]:
!ls

 AIBot	       'Colab Notebooks'     script.txt   Teena
'Clicks yest'   parse_script.ipynb   Self	  Terrace

In [4]:
import re 
import pandas as pd

In [17]:
pattern = r'([a-zA-Z\s]+): (.+)'

In [18]:
data = {
    'name' : [],
    'line' : []
}

In [19]:
with open('script.txt', 'rt') as file:
  for line in file.readlines():
    match = re.findall(pattern, line)
    if match:
      name, line = match[0]
      data['name'].append(name)
      data['line'].append(line)

In [20]:
df = pd.DataFrame(data)

In [21]:
df.head()

     name                                  line
0     Boy                         I found some.
1  Kratos                 Get in the boat, boy.
2     Boy  Still want me to tie it to the boat?
3  Kratos                       That is enough.
4  Atreus                               Father?

In [22]:
len(df)

12839

In [23]:
df.to_csv('script.csv', index = False)